body{
    margin: 0;
    padding: 0;
}

.header{
    overflow: hidden;
    margin: auto;
    width: 80%;
    background-color: cornflowerblue;
    padding: 15px;
    font-size: 18px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

li{
    display: inline-block;
    color: white;
    margin-right: 15px;
}

.logo{
    float: left;
    color: white;
}

@media screen and (max-width: 500px) {
    
    .logo{
        float: none;
        text-align: center;
    }

    .menu{
        margin-top: 20px;
        float: none;
        text-align: center;
    }

    li{
        display: block;
        float: none;
        margin-bottom: 10px;
        padding: 10px;
    }
}