.links{
    text-decoration: none;
    color: blue;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    border: 2px solid red;

}

.links:active{
    background-color: red;
    color: white;
}

.links:visited{
    border-color: #ddd;
    color: #ddd;
}

